/*banner related styles*/
.banner{
    background-image: url('../resources/Banner\ Image.png');
    border-radius: 16px;
    background-repeat: no-repeat;
    background-position:center;
    background-size: 75%;
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    
}
.banner-text-container{
    text-align: center;
    display: block;
    justify-content: center;
    margin-block: 0%;
}
.first-heading{
    padding-top: 180px;
    padding-left: 535px;
    padding-right: 535px;
    padding-bottom: 0px;
    color: #FFF;
text-align: center;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.second-heading{
color: #FFF;
text-align: center;
font-size: 52px;
font-style: normal;
font-weight: 600;
width: 630px;
height: 40px;
padding-left: 350px;
padding-right: 350px;
margin-bottom: 10px;
}
.third-heading{
    color: #FFF;
text-align: center;
font-size: 72px;
font-style: normal;
font-weight: 600;
width: 630px;
height: 40px;
padding-left: 350px;
padding-right: 350px;
padding-bottom: 100px;
margin-top: 0px;
}

/*second section task*/
.second-section{
display: block;
justify-content: center;
}
.second-section-text-container{
display: block;
justify-content: center;
margin-block: 0px;
margin-top: 0px;
}
#offer{
    color: #F00;
text-align: center;
margin-top: 0px;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 0px;
}
#deals{
    color: #F00;
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 5px;
margin-bottom: 0px;
}
#categories{
    color: #070211;
text-align: center;
font-size: 38px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 5px;
}
#first-image{
    width: 500px;
height: 300px;
flex-shrink: 0;
justify-content: center;
margin-left: 380px;
margin-bottom: 0px;
}
/*3rd section styles*/
.third-section{
    background-image: url('../resources/Vectorrr.png');
    width: 1320px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
    margin-bottom: 5px;
}
.third-section-text-container{
display: block;
justify-content: center;
margin-top: 0px;
margin-left: 400px;
margin-top: 0px;
padding-top: 200px;

}
.party-heading{
justify-content: center;
width: 350px;
color: #FFF;
font-family: Merriweather;
font-size: 44px;
font-style: normal;
font-weight: 400;
line-height: 0px;

}
.third-section-p{
    color: red;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 600;

}
.first-button{
    margin-left: 50px;
}
/*4th section styles*/
.fourth-section{
    background-color: lightcoral;
   width: 620px;
   height: 320px;
   background-repeat: no-repeat;
   /*background-size: 75%;*/
   margin-left: 130px;
   margin-top: 0px;
   margin-bottom: 50px;
   margin-left: 350px;
}
.fourth-section-text-container{
    display: block;
    justify-content: center;
    margin-top: 00px;
    padding-top: 70px;
    text-align: center;
    
    

}
.fourth-section-heading{
    color: #F00;;
}
.fourth-section-button{
justify-content: center;
margin-left: 260px;
text-decoration-color:red;
padding: 5px 8px;
background-color: #FFF;
border-radius: 0%;

}
/*fifth section styles*/
.fifth-section{
display: flex;
margin-top: 20px;
margin-bottom: 100px;
}
.fifth-sec-1st-head{
    color: #F00;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.ffith-section-2nd-head{
    color: #070211;
font-family: Merriweather;
font-size: 24px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}
.first-column-fifth-sec{
    display: block;
    text-align: center;
margin-right: 40px;
margin-left: 70px;
}
.fifth-section-1st-p{
    margin-right: 30px;
    margin-left: 70px;
}
#fifth-section-image{
    border-radius: ;
    background-color:red;
    border-color: #F00;
width: 150px;
height: 150px;
}
.second-column-fifth-sec{
    display: block;
    text-align: center;
    margin-right: 40px;
    margin-left: 40px;
}
.fifth-section-2nd-p{
    margin-top: 0%;
    margin-right: 30px;
    margin-left: 30px;
}
.number{
    color: #F00;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 0%;
}
.fifth-section-2nd-image{
    width: 60px;
    height: 60px;
}
/*sixth section styles*/
.sixth-section{
margin-top: 40px;
margin-bottom: 200px;
}
.sixth-section-text-container{
display: block;
justify-content: center;
text-align: center;
}
.sixth-first-heading{
    color: #070211;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0%;


}
.sixth-2nd-heading{
    margin-top: 0%;
    text-align: center;
    font-family: Merriweather;
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 20px;
}
.sixth-span{
    color: #F00;
}
.sixth-p{

}
.sixth-image-container{
    justify-content: space-between;
    margin-left: 190px;
    margin-right: 190px;
    background-image: url('../resources/Rectangle\ 2.png');
    background-repeat: no-repeat;
    width: 1000px;
    height: 100px;
    background-position: ;
}
.sixth-image-container{
    display: flex;
    background-position-x: bottom;
}

#sixth-1st-image{
width: 300px;
height: 250px;
margin-top: 100px
}
#sixth-2nd-image{
height: 200px;
width: 200px;
margin-top: 30px;
margin-right: 0px;
}
/*section seven styles*/
.seventh-section{

}
.seventh-section-text-container{
margin-top: 300px;
align-items: center;
display: block;
justify-content: center;
margin-left: 500px;
}
.seventh-section-1st-heading{
    color: #F00;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0%;
}
.seventh-section-2nd-heading{
    color: #070211;
    font-family: Merriweather;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 0%;
    margin-bottom: 7px;
}
.seventh-section-p{
margin-top: 0%;
}
.seventh-section-image-container{

}
.first-three-images{
display: flex;
width: 330px;
height: 250px;
margin-left: 460px;
justify-content: space-evenly;
}
.second-three-images{
    display: flex;
    width: 330px;
    height: 250px;
    margin-left: 460px;
    justify-content: space-around;
}
/*section eight styles*/
.section-eight{
background-color: #FF00000D;
width: 500px;
height: 200px;
margin-left: 350px;
padding-top: 50px;
border-radius: 1px;
}
.eighth-image{
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    align-items: center;
    margin-left: 230px;
    padding-top: 0px;
    margin-bottom: 0%;
}
.eighth-text-container{
text-align: center;
padding-top: 0px;
}
.eighth-first-heading{

}
.eighth-p{

}
.subscribe-form{
align-items: center;
margin-left: 80px;

padding-left: 0%;
}
.eighth-button{
align-items: center;
margin-left: 0px;
margin-right: 0px;
}
.subscribe-form{
    display: flex;
    justify-content: center;
}
/*footer related styles*/
footer{
    background-color: #070211;;
}
.section-nine{

}
.ninth-text-container-1{
    color: #FFF;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    padding-left: 200px;
}
.ninth-text-container-top{
display: flex;
justify-content: space-between;
}
.ninth-1st-p{

}
.ninth-2nd-p{

}
.ninth-text-container-2{
    color: #FFF;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding-right: 200px;
    margin-top: 0%;
    padding-top: 0%;
    display: block;
    padding-left: 0px;
}
.ninth-3rd-p{
display: inline-block;
margin-bottom: 0%;
}
.ninth-4th-p{
padding-left: 25px;
padding-top: 0%;
padding-right: ;
}

.ninth-image-container{
padding-left: 500px;
}
#img-1{
width: 50px;
height: 50px;
}
#img-2{
    width: 50px;
    height: 50px;
}
#img-3{
    width: 50px;
    height: 50px;
}
#img-4{
    width: 50px;
    height: 50px;
}

#first-icon{
padding-right: 5px;
padding-top: px;
width: 15px;
height: 15px;
}
#second-icon{
    width: 15px;
    height: 15px;
    padding-right: 0px;
}
.ninth-text-container-3{
display: flex;
justify-content: space-between;

}
.last-text{
    color: #FFF;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding-left: 200px;
    ma
}
.last-button{
    padding: 2px 5px;
    
margin-right:200px;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;

}






