/*banner related styles*/
.banner{
    background-image: url('../resources/Banner\ Image.png');
    border-radius: 16px;
    background-repeat: no-repeat;
    background-position:center;
    background-size: 75%;
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    
}
.banner-text-container{
    text-align: center;
    display: block;
    justify-content: center;
    margin-block: 0%;
}
.first-heading{
    padding-top: 180px;
    padding-left: 535px;
    padding-right: 535px;
    padding-bottom: 0px;
    color: #FFF;
text-align: center;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.second-heading{
color: #FFF;
text-align: center;
font-size: 52px;
font-style: normal;
font-weight: 600;
width: 630px;
height: 40px;
padding-left: 350px;
padding-right: 350px;
margin-bottom: 10px;
}
.third-heading{
    color: #FFF;
text-align: center;
font-size: 72px;
font-style: normal;
font-weight: 600;
width: 630px;
height: 40px;
padding-left: 350px;
padding-right: 350px;
padding-bottom: 100px;
margin-top: 0px;
}

/*second section task*/
.second-section{
display: block;
justify-content: center;
}
.second-section-text-container{
display: block;
justify-content: center;
margin-block: 0px;
margin-top: 0px;
}
#offer{
    color: #F00;
text-align: center;
margin-top: 0px;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 0px;
}
#deals{
    color: #F00;
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 5px;
margin-bottom: 0px;
}
#categories{
    color: #070211;
text-align: center;
font-size: 38px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 5px;
}
#first-image{
    width: 500px;
height: 300px;
flex-shrink: 0;
justify-content: center;
margin-left: 380px;
margin-bottom: 0px;
}
/*3rd section styles*/
.third-section{
    background-image: url('../resources/Vectorrr.png');
    width: 1320px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
    margin-bottom: 5px;
}
.third-section-text-container{
display: block;
justify-content: center;
margin-top: 0px;
margin-left: 400px;
margin-top: 0px;
padding-top: 200px;

}
.party-heading{
justify-content: center;
width: 350px;
color: #FFF;
font-family: Merriweather;
font-size: 44px;
font-style: normal;
font-weight: 400;
line-height: 0px;

}
.third-section-p{
    color: red;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 600;

}
.first-button{
    margin-left: 50px;
}
/*4th section styles*/
.fourth-section{
    background-color: lightcoral;
   width: 620px;
   height: 320px;
   background-repeat: no-repeat;
   /*background-size: 75%;*/
   margin-left: 130px;
   margin-top: 0px;
   margin-bottom: 50px;
   margin-left: 350px;
}
.fourth-section-text-container{
    display: block;
    justify-content: center;
    margin-top: 00px;
    padding-top: 70px;
    text-align: center;
    
    

}
.fourth-section-heading{
    color: #F00;;
}
.fourth-section-button{
justify-content: center;
margin-left: 260px;
text-decoration-color:red;
padding: 5px 8px;
background-color: #FFF;
border-radius: 0%;

}
/*fifth section styles*/
.fifth-section{
display: flex;
margin-top: 20px;
}
.fifth-sec-1st-head{
    color: #F00;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.ffith-section-2nd-head{
    color: #070211;
font-family: Merriweather;
font-size: 24px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}
.first-column-fifth-sec{
    display: block;
    text-align: center;
margin-right: 40px;
margin-left: 70px;
}
.fifth-section-1st-p{
    margin-right: 30px;
    margin-left: 70px;
}
#fifth-section-image{
    border-radius: ;
    background-color:red;
    border-color: #F00;
width: 150px;
height: 150px;
}
.second-column-fifth-sec{
    display: block;
    text-align: center;
    margin-right: 40px;
    margin-left: 40px;
}
.fifth-section-2nd-p{
    margin-top: 0%;
    margin-right: 30px;
    margin-left: 30px;
}
.number{
    color: #F00;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 0%;
}
.fifth-section-2nd-image{
    width: 60px;
    height: 60px;
}
/*sixth section styles*/
